<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TestConsoleClient" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
  </configSections>

  <TestConsoleClient>
    <ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
      <FilePath>TestConsoleClient.Config.xml</FilePath>
    </ConfigurationLocation>
  </TestConsoleClient>

</configuration>
