/*Created with Adobe RoboHelp.*/
p.BodyLevel1 {
	margin-left: 18.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 8.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0.250em;
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.BodyLevel2 {
	margin-left: 36.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 8.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0.250em;
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.BodyLevel3 {
	margin-left: 54.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 8.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0.250em;
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: normal;
	font-size: 11.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
h1 {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 17.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0.250em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 14.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
h2 {
	margin-left: 18.000pt;
	margin-right: 36.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 16.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0.250em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 13.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
h3 {
	margin-left: 36.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 14.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0.250em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
h4 {
	margin-left: 54.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 13.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0.250em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 11.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.Title {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 22.000pt;
	margin-bottom: 11.000pt;
	word-spacing: 0.250em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 18.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.AuthorBook {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 292.000pt;
	word-spacing: 0.250em;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 13.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.CellBody {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 4.000pt;
	word-spacing: 0.250em;
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: normal;
	font-size: 9.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.CellHeading {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0.250em;
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: bold;
	font-size: 9.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.Extract {
	margin-left: 18.000pt;
	margin-right: 18.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 7.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0.250em;
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: normal;
	font-size: 9.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.Footnote {
	margin-left: 12.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: -12.000pt;
	margin-top: 3.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0.250em;
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: normal;
	font-size: 9.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.PublisherBook {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 0.000pt;
	word-spacing: 0.250em;
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: bold;
	font-size: 12.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
p.TitleBook {
	margin-left: 0.000pt;
	margin-right: 0.000pt;
	text-align: left;
	text-indent: 0.000pt;
	margin-top: 0.000pt;
	margin-bottom: 60.000pt;
	word-spacing: 0.250em;
	font-family: "Times New Roman";
	font-style: italic;
	font-weight: normal;
	font-size: 30.0pt;
	color: #000000;
	letter-spacing: -0.04em;
	text-decoration: none;
}
H5 {
	font-weight: bold;
	font-size: 10.0pt;
}
H6 {
	font-weight: bold;
	font-size: 8.0pt;
}
span.PageNumber {
	font-weight: bold;
}
span.EquationVariables {
	font-style: italic;
}
span.Emphasis {
	font-style: italic;
}
span.Callout {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 8.0pt;
	color: #000000;
	letter-spacing: 0.00em;
}
span.BulletSymbol {
	font-family: Courier;
	font-style: normal;
	font-weight: bold;
	font-size: 11.0pt;
	color: #000000;
	letter-spacing: 0.00em;
}
span.FirstLetterTitle {
	font-family: "Times New Roman";
	font-style: italic;
	font-weight: normal;
	font-size: 42.0pt;
	color: #000000;
	letter-spacing: -0.04em;
}
span.EquationNumber {
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 8.0pt;
	color: #000000;
	letter-spacing: 0.00em;
}
span.ChapterNumber {
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 10.0pt;
	color: #000000;
	letter-spacing: 0.04em;
}
span.StepNumber {
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 8.0pt;
	color: #000000;
	letter-spacing: 0.00em;
}
span.WebJump {
}
span.Superscript {
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: normal;
	color: #000000;
	letter-spacing: 0.00em;
}
span.Underline {
	font-style: normal;
	font-weight: normal;
	color: #000000;
	letter-spacing: 0.00em;
}
span.Bold {
	font-style: normal;
	font-weight: bold;
	color: #000000;
	letter-spacing: 0.00em;
}
span.BlueBold {
	font-weight: bold;
	color: #2e97dc;
}
span.White {
	color: #ffffff;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.Emphasis {
	font-style: italic;
}
span.Symbol {
	font-family: Symbol;
	font-style: normal;
	font-weight: normal;
	font-size: 10.0pt;
	color: #000000;
	letter-spacing: 0.00em;
	text-decoration: none;
}
span.GreyBold {
	font-family: Arial;
	font-weight: bold;
	color: #3f3f3f;
}
span.Subscript {
	font-family: "Times New Roman";
	font-style: normal;
	font-weight: normal;
	color: #000000;
	letter-spacing: 0.00em;
}
table.CellBorder {
	padding: 0px;
	border-top: Solid 1px #000000;
	border-left: Solid 1px #000000;
	x-border-spacing: 0px;
}
table.CellBorder td {
	border-right: Solid 1px #000000;
	border-bottom: Solid 1px #000000;
}
table.Colorful1 {
	padding: 0px;
	border-top: Solid 1px #000000;
	border-left: Solid 1px #000000;
	x-1st-row: 1;
	x-1st-row-name: row1;
	x-1st-col: 1;
	x-1st-col-name: col1;
	x-border-spacing: 0px;
}
table.Colorful1 tr.row1 td {
	background-color: #800000;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	border-right: Solid 1px #000000;
	border-bottom: Solid 1px #000000;
	color: #ffffff;
}
table.Colorful1 td.col1 {
	background-color: #c0c0c0;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	border-right: Solid 1px #000000;
	border-bottom: Solid 1px #000000;
}
table.Colorful1 td {
	padding-right: 10px;
	padding-left: 10px;
	border-right: Solid 1px #000000;
	border-bottom: Solid 1px #000000;
}
table.Colorful3 {
	padding: 0px;
	border-top: Solid 1px #ffffff;
	border-left: Solid 1px #ffffff;
	x-1st-row: 1;
	x-1st-row-name: row1;
	x-border-spacing: 0px;
}
table.Colorful3 tr.row1 td {
	background-color: #000080;
	border-right: Solid 1px #000000;
	border-bottom: Solid 1px #000000;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	color: #ffffff;
}
table.Colorful3 td {
	background-color: #c0c0c0;
	border-right: Solid 1px #ffffff;
	border-bottom: Solid 1px #ffffff;
	padding-right: 10px;
	padding-left: 10px;
}
table.Colorful4 {
	padding: 0px;
	border-top: Solid 1px #000000;
	border-left: Solid 1px #000000;
	x-1st-row: 1;
	x-1st-row-name: row1;
	x-1st-col: 1;
	x-1st-col-name: col1;
	x-border-spacing: 0px;
}
table.Colorful4 tr.row1 td {
	background-color: #008000;
	border-right: Solid 1px #000000;
	border-bottom: Solid 1px #000000;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	color: #ffffff;
}
table.Colorful4 td.col1 {
	background-color: #ffff00;
	border-right: Solid 1px #000000;
	border-bottom: Solid 1px #000000;
	padding-right: 10px;
	font-weight: bold;
	padding-left: 10px;
}
table.Colorful4 td {
	border-right: Solid 1px #000000;
	border-bottom: Solid 1px #000000;
	padding-right: 10px;
	padding-left: 10px;
}
table.Retro7 {
	x-border-spacing: 15px;
	padding: 0px;
	border-width: 1px;
}
table.Retro7 td {
	padding-right: 10px;
	padding-left: 10px;
	background-color: #c0c0c0;
	border-top-style: Groove;
	border-bottom-style: Groove;
	border-left-width: 1px;
	border-top-color: #00ff00;
	border-top-width: 4px;
	border-right-width: 1px;
	border-bottom-color: #00ff00;
	border-bottom-width: 4px;
}
