/*Created with Adobe RoboHelp 9.*/
BODY {
	background-color: #ffffff;
	margin: 10px;
	font-family: Verdana;
	color: #515151;
}
H1 {
	margin-left: -0.5pt;
	margin-top: 0pt;
	margin-bottom: 10pt;
	font-family: Verdana, sans-serif;
	background-color: Transparent;
	font-weight: normal;
	font-style: normal;
	font-size: 22pt;
	x-next-class: ;
	x-next-type: P;
	color: #1e7a8b;
}
H2 {
	margin-left: -0.5pt;
	margin-top: 20pt;
	margin-bottom: 10pt;
	font-family: Verdana, sans-serif;
	background-color: Transparent;
	x-next-class: rls-7-Bullets;
	x-next-type: span;
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	color: #6c6c00;
}
H3 {
	font-size: 13pt;
	font-weight: bold;
	margin-left: -0.5pt;
	margin-top: 0pt;
	margin-bottom: 5pt;
	font-family: Verdana, sans-serif;
	color: #1e7a8b;
}
H3 {
	color: rgb(60, 150, 155);
	font-size: 13pt;
	font-weight: bold;
	margin-left: -0.5pt;
	margin-top: 0pt;
	margin-bottom: 5pt;
	font-family: Verdana, sans-serif;
}
H4 {
	font-size: 10pt;
	font-weight: bold;
	margin-top: 0pt;
	margin-bottom: 5pt;
	font-family: "Arial Black";
	x-next-class: ;
	x-next-type: P;
	color: #008080;
}
H5 {
	color: rgb(60, 150, 155);
	font-size: 11pt;
	font-weight: bold;
	margin-left: -0.25pt;
	margin-top: 20pt;
	margin-bottom: 10pt;
	font-family: Verdana, sans-serif;
	text-indent: 1pt;
	background-color: rgb(160, 215, 220);
}
H6 {
	color: rgb(60, 150, 155);
	font-size: 10pt;
	font-weight: bold;
	margin-left: -0.5pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Verdana, sans-serif;
}
P {
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: Verdana, sans-serif;
	font-weight: normal;
	color: #000000;
}
P.Normal-Single {
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Verdana, sans-serif;
	color: #000000;
}
P.TableHeading {
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 5pt;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	padding-bottom: 2pt;
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	color: #1e798b;
}
P.TableText {
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	font-family: Verdana, sans-serif;
	color: #383838;
}
P.Emphasis {
	font-size: 10pt;
	margin-left: -0.5pt;
	margin-top: 0pt;
	margin-bottom: 10pt;
	padding: 3pt;
	font-family: Verdana, sans-serif;
	x-next-class: rls-7-Bullets;
	x-next-type: span;
	background-color: #d7ecec;
	color: #1c7180;
}
P.RH9_Feature_Title {
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	x-next-class: RH9_Feature_Desc;
	x-next-type: P;
	color: #7d5f15;
}
P.RH9_Feature_Desc {
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 6pt;
	font-family: Verdana, sans-serif;
	font-weight: normal;
	color: #000000;
}
A {
	color: #1e798b;
}
A:HOVER {
	background-color: #ffffff;
	color: #9eb249;
}
A.expandspot {
	cursor: hand;
	font-style: italic;
	color: #9eb249;
	text-decoration: none;
}
SPAN.expandtext {
	font-style: italic;
	font-weight: normal;
	color: #ff0000;
}
A.dropspot {
	cursor: hand;
	color: #1e798b;
	x-open-image: url(Box_Arrow_Black_Down.gif);
	x-close-image: url(Box_Arrow_Black_Right.gif);
	text-decoration: none underline;
}
A.glossterm {
	cursor: hand;
	font-style: italic;
	color: #9b281e;
	text-decoration: none;
}
SPAN.glosstext {
	font-style: italic;
	font-weight: normal;
	color: #1e798b;
}
/* TABLE STYLES */
TD {
	vertical-align: top;
	padding: 3pt;
}
table.NoBorder {
	font-family: Verdana;
	x-border-spacing: 0px;
}
table.SimpleGridNoShading {
	padding: 0px;
	x-border-spacing: 0px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	font-family: Verdana;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #808080;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #808080;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #808080;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #808080;
}
table.SimpleGridNoShading td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
table.SimpleGridNoShading tr.t1Row td {
	font-family: "Times New Roman";
	font-size: 12pt;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #008080;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #008080;
}
table.SimpleGridNoShading tr.t2Row td {
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #008080;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #008080;
}
table.SimpleGridDark td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
table.SimpleGridDark tr.t1Row td {
	font-family: "Times New Roman";
	font-size: 12pt;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #008080;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #008080;
}
table.SimpleGridDark tr.t2Row td {
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #008080;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #008080;
}
table.SimpleGridDark {
	padding: 0px;
	x-border-spacing: 0px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	x-1st-row: 1;
	x-1st-row-name: t1st;
	background-color: #f2f2f2;
	font-family: Verdana;
	color: #515151;
	border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: 515151;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: 515151;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: 515151;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: 515151;
}
table.SimpleGridDark tr.t1st td {
	background-color: #d1efef;
	font-family: "Times New Roman";
	font-size: 12pt;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #008080;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #008080;
}
/* LIST STYLES */
OL {
	margin-left: 0.25in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	padding-left: 0.0in;
	font-size: 10pt;
	font-family: Verdana, sans-serif;
}
UL {
	margin-left: 0.25in;
	margin-top: 0pt;
	margin-bottom: 0pt;
	padding-left: 0.0in;
	list-style: disc;
}
rh-list.BasicNumber {
	x-lvl-2-type: lower-alpha;
	x-lvl-3-type: lower-roman;
	x-lvl-4-type: decimal;
	x-lvl-4-format: "&o<x>&c";
	x-lvl-4-margin: 60px;
	x-lvl-4-p-tag: P;
	x-lvl-5-format: "&o<x>&c";
	x-lvl-5-margin: 80px;
	x-lvl-5-p-tag: P;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "&o<x>&c";
	x-lvl-6-margin: 100px;
	x-lvl-6-p-tag: P;
	x-lvl-7-margin: 120px;
	x-lvl-7-p-tag: P;
	x-lvl-8-type: lower-alpha;
	x-lvl-8-margin: 140px;
	x-lvl-9-type: lower-roman;
	x-lvl-9-margin: 160px;
	x-lvl-1-format: "<x>.";
	x-lvl-2-format: "<x>.";
	x-lvl-3-format: "<x>.";
	x-lvl-2-margin: 40px;
	x-lvl-2-text-indent: -20px;
	x-lvl-2-p-tag: P;
	x-lvl-3-margin: 60px;
	x-lvl-3-text-indent: -20px;
	x-lvl-3-p-tag: P;
	x-level-count: 9;
	x-lvl-1-type: decimal;
	x-lvl-1-margin: 20px;
	x-lvl-1-text-indent: -20px;
	x-lvl-1-p-tag: P;
}
rh-list.RoundSquare {
	x-lvl-1-type: disc;
	x-lvl-1-format: "<x>";
	x-lvl-2-type: square;
	x-lvl-2-format: "<x>";
	x-lvl-3-type: circle;
	x-lvl-3-format: "<x>";
	x-lvl-3-margin: 40px;
	x-lvl-4-type: diamond;
	x-lvl-4-format: "<x>";
	x-lvl-4-margin: 60px;
	x-lvl-5-type: disc;
	x-lvl-5-format: "<x>";
	x-lvl-5-margin: 80px;
	x-lvl-6-type: square;
	x-lvl-6-format: "<x>";
	x-lvl-6-margin: 100px;
	x-lvl-7-type: circle;
	x-lvl-7-format: "<x>";
	x-lvl-7-margin: 120px;
	x-lvl-8-type: diamond;
	x-lvl-8-format: "<x>";
	x-lvl-8-margin: 140px;
	x-lvl-9-type: disc;
	x-lvl-9-format: "<x>";
	x-lvl-9-margin: 160px;
	x-lvl-9-pfx-class: rls-9-Bullets;
	x-lvl-1-pfx-class: rls-1-Bullets;
	x-lvl-2-pfx-class: rls-2-Bullets;
	x-lvl-3-pfx-class: rls-3-Bullets;
	x-lvl-4-pfx-class: rls-4-Bullets;
	x-lvl-5-pfx-class: rls-5-Bullets;
	x-lvl-6-pfx-class: rls-6-Bullets;
	x-lvl-7-pfx-class: rls-7-Bullets;
	x-lvl-8-pfx-class: rls-8-Bullets;
	x-lvl-1-margin: 20px;
	x-lvl-1-text-indent: -20px;
	x-lvl-1-p-tag: P;
	x-level-count: 9;
	x-lvl-2-margin: 40px;
	x-lvl-2-text-indent: -20px;
	x-lvl-2-p-tag: P;
}
span.rls-9-Bullets {
	font-size: 8pt;
}
span.rls-1-Bullets {
	font-size: 12pt;
}
span.rls-2-Bullets {
	font-size: 12pt;
}
span.rls-3-Bullets {
	font-size: 12pt;
}
span.rls-4-Bullets {
	font-size: 12pt;
}
span.rls-5-Bullets {
	font-size: 10pt;
}
span.rls-6-Bullets {
	font-size: 10pt;
}
span.rls-7-Bullets {
	font-size: 10pt;
}
span.rls-8-Bullets {
	font-size: 10pt;
}
li.NumberedAboutTopics {
	list-style: decimal;
	color: #000000;
}
li.BulletedAboutTopics {
	list-style: disc;
	font-size: 10pt;
	color: #000000;
}
A.breadcrumbs {
	font-family: Verdana;
	font-size: 10pt;
	color: #1e798b;
}
A:active {
	color: #1e798b;
	text-decoration: underline;
}
A:link {
	color: #1e798b;
	text-decoration: underline;
}
A:visited {
	color: #356b6b;
	text-decoration: underline;
}
table.SimpleGridLight td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
table.SimpleGridLight tr.t1Row td {
	font-family: "Times New Roman";
	font-size: 12pt;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #008080;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #008080;
}
table.SimpleGridLight tr.t2Row td {
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #008080;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #008080;
}
table.SimpleGridLight tr.t1st td {
	background-color: #d1efef;
	font-family: "Times New Roman";
	font-size: 12pt;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #008080;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #008080;
}
table.SimpleGridLight {
	padding: 0px;
	x-border-spacing: 0px;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	x-1st-row: 1;
	x-1st-row-name: t1st;
	font-family: Verdana;
	color: #515151;
	border-left-style: Solid;
	border-left-color: 515151;
	border-right-style: Solid;
	border-right-color: 515151;
	border-top-style: Solid;
	border-top-color: 515151;
	border-bottom-style: Solid;
	border-bottom-color: 515151;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	background-color: #f8f8f8;
}
