<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <services>
      <service name="Opc.Ua.Sample.MyService" behaviorConfiguration="MyServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:40000/UA/SampleServer"/>
            <add baseAddress="net.pipe://localhost/40000/UA/SampleServer"/>
            <add baseAddress="net.tcp://localhost:40001/UA/SampleServer"/>
          </baseAddresses>
        </host>
        
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="UaSoapXmlBinding_IDiscoveryEndpoint" contract="Opc.Ua.ISessionEndpoint">
          <identity>
            <certificateReference findValue="My Server Name" storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName"/>
          </identity>
        </endpoint>

        <endpoint address="http://localhost:40000" binding="webHttpBinding" contract="Opc.Ua.Sample.IPolicyRetriever" behaviorConfiguration="WebBehavior">
        </endpoint>
        
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="UaSoapXmlOverTcpBinding_IDiscoveryEndpoint" contract="Opc.Ua.ISessionEndpoint">
          <identity>
            <certificateReference findValue="My Server Name" storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="netNamedPipeBinding" bindingConfiguration="UaSoapXmlOverPipeBinding_IDiscoveryEndpoint" contract="Opc.Ua.ISessionEndpoint">
          <identity>
            <certificateReference findValue="My Server Name" storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName"/>
          </identity>
        </endpoint>
        
        <endpoint address="discovery" binding="wsHttpBinding" bindingConfiguration="UaSoapXmlBinding_IDiscoveryEndpoint" contract="Opc.Ua.IDiscoveryEndpoint"/>
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>        
      </service>
    </services>

    <bindings>
      <netNamedPipeBinding>
        <binding name="UaSoapXmlOverPipeBinding_IDiscoveryEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="UaSoapXmlOverTcpBinding_IDiscoveryEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="Windows"/>
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="UaSoapXmlBinding_IDiscoveryEndpoint" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" establishSecurityContext="true"/>
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="UaSoapXmlBinding_IDiscoveryEndpoint">
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="WebBehavior">
          <webHttp/>
        </behavior>        
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="MyServiceBehavior">
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000" maxConcurrentInstances="1000"/>          
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
          <serviceCredentials>
            <serviceCertificate findValue="My Server Name" storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName"/>
            <clientCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust" trustedStoreLocation="CurrentUser"/>
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <diagnostics>
      <messageLogging logEntireMessage="true" maxMessagesToLog="3000" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
  </system.serviceModel>
  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default"/>
          <add name="ServiceModel Listener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default"/>
          <add name="ServiceModel Listener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="Opc.Ua.SampleServer.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModel Listener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"/>
    </sharedListeners>
  </system.diagnostics>
  
</configuration>
