<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WelcomeApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WelcomeApplication.Properties.Settings>
            <setting name="ConfigAppDescription" serializeAs="String">
                <value>The UA Configuration Tool provides options for managing applications, certificate trusts, and COM/UA interoperability.</value>
            </setting>
            <setting name="ConfigAppName" serializeAs="String">
                <value>UA Configuration Tool</value>
            </setting>
            <setting name="DAServerAppDescription" serializeAs="String">
                <value>OPC UA DA Server is a light-weight application that provides access to readable/writeble data.</value>
            </setting>
            <setting name="DAServerAppName" serializeAs="String">
                <value>DA Server</value>
            </setting>
            <setting name="DAClientAppDescription" serializeAs="String">
                <value>OPC UA DA Client is a light-weight application that provides minimal capabilities and merely demonstrates the simple data-acquisition from an OPC UA DA Server.</value>
            </setting>
            <setting name="DAClientAppName" serializeAs="String">
                <value>DA Client</value>
            </setting>
            <setting name="HADServerAppDescription" serializeAs="String">
                <value>This Historical Data Server is a purpose-built application that serves static and/or dynamic historical data to clients.</value>
            </setting>
            <setting name="HADServerAppName" serializeAs="String">
                <value>HA Data Server</value>
            </setting>
            <setting name="HADClientAppDescription" serializeAs="String">
                <value>The HA Data Client is a purpose-built application for demonstrating OPC Historical Data.</value>
            </setting>
            <setting name="HADClientAppName" serializeAs="String">
                <value>HA Data Client</value>
            </setting>
            <setting name="HAServerAppDescription" serializeAs="String">
                <value>This Historical Events Server is a purpose-built application that serves historical events information to clients.</value>
            </setting>
            <setting name="HAServerAppName" serializeAs="String">
                <value>HE Data Server</value>
            </setting>
            <setting name="HAEClientAppDescription" serializeAs="String">
                <value>The Historical Events Client is a purpose-built client that demonstrates the use of Historical Events.</value>
            </setting>
            <setting name="HAEClientAppName" serializeAs="String">
                <value>HE Data Client</value>
            </setting>
            <setting name="ACServerAppDescription" serializeAs="String">
                <value>This Alarms &amp; Conditions Server is a purpose-built application raises alarms and events information to clients</value>
            </setting>
            <setting name="ACServerAppName" serializeAs="String">
                <value>AC Server</value>
            </setting>
            <setting name="ACClientAppDescription" serializeAs="String">
                <value>Alarms and Condition Client is a purpose-built client for demonstrating OPC UA Alarms &amp; Conditions.</value>
            </setting>
            <setting name="ACClientAppName" serializeAs="String">
                <value>AC Client</value>
            </setting>
            <setting name="LDSAppDescription" serializeAs="String">
                <value>Discover Server provides a list of available OPC UA applications to any OPC application that queries it</value>
            </setting>
            <setting name="LDSAppName" serializeAs="String">
                <value>Discovery Server</value>
            </setting>
            <setting name="GenServerAppDescription" serializeAs="String">
                <value>UA Generic Server combines the features of several server profiles</value>
            </setting>
            <setting name="GenServerAppName" serializeAs="String">
                <value>Generic Server</value>
            </setting>
            <setting name="GenClientAppDescription" serializeAs="String">
                <value>UA Generic Client combines the features of several client profiles</value>
            </setting>
            <setting name="GenClientAppName" serializeAs="String">
                <value>Generic Client</value>
            </setting>
            <setting name="RefServerAppDescription" serializeAs="String">
                <value>The Reference Server is a purpose built server used during the development and testing of the Unified Architecture</value>
            </setting>
            <setting name="RefServerAppName" serializeAs="String">
                <value>Reference Server</value>
            </setting>
            <setting name="RefClientAppDescription" serializeAs="String">
                <value>The Reference Client is a very light-weight Client that offers minimal functionality. It is a purpose-built Client for connecting directly to the Reference Server to consume data.</value>
            </setting>
            <setting name="RefClientAppName" serializeAs="String">
                <value>Reference Client</value>
            </setting>
            <setting name="RefClientHelp" serializeAs="String">
                <value>webhelp\overview_-_reference_client.htm</value>
            </setting>
            <setting name="RefServerHelp" serializeAs="String">
                <value>webhelp\overview_referenceServer.htm</value>
            </setting>
            <setting name="GenClientHelp" serializeAs="String">
                <value>webhelp\ua_sample_client.htm</value>
            </setting>
            <setting name="GenServerHelp" serializeAs="String">
                <value>webhelp\ua_sample_server.htm</value>
            </setting>
            <setting name="LDSHelp" serializeAs="String">
                <value>webhelp\local_discovery_server_(lds).htm</value>
            </setting>
            <setting name="ACClientHelp" serializeAs="String">
                <value>webhelp\acclientoverview.htm</value>
            </setting>
            <setting name="ACServerHelp" serializeAs="String">
                <value>webhelp\acserveroverview.htm</value>
            </setting>
            <setting name="HAEClientHelp" serializeAs="String">
                <value>webhelp\haeventsclientoverview.htm</value>
            </setting>
            <setting name="HAEServerHelp" serializeAs="String">
                <value>webhelp\haeventsserveroverview.htm</value>
            </setting>
            <setting name="HADClientHelp" serializeAs="String">
                <value>webhelp\haclientoverview.htm</value>
            </setting>
            <setting name="HADServerHelp" serializeAs="String">
                <value>webhelp\haserveroverview.htm</value>
            </setting>
            <setting name="DAClientHelp" serializeAs="String">
                <value>webhelp\daclientoverview.htm</value>
            </setting>
            <setting name="DAServerHelp" serializeAs="String">
                <value>webhelp\daserveroverview.htm</value>
            </setting>
            <setting name="ConfigHelp" serializeAs="String">
                <value>webhelp\ua_configuration_tool.htm</value>
            </setting>
            <setting name="ConfigProcess" serializeAs="String">
                <value>Opc.Ua.ConfigurationTool.exe</value>
            </setting>
            <setting name="DAServer" serializeAs="String">
                <value>quickstarts.dataaccessserver.exe</value>
            </setting>
            <setting name="DAClient" serializeAs="String">
                <value>quickstarts.dataaccessclient.exe</value>
            </setting>
            <setting name="HADServerProcess" serializeAs="String">
                <value>quickstarts.historicalaccessserver.exe</value>
            </setting>
            <setting name="HADClientProcess" serializeAs="String">
                <value>quickstarts.historicalaccessclient.exe</value>
            </setting>
            <setting name="HAEServerProcess" serializeAs="String">
                <value>quickstarts.historicaleventsserver.exe</value>
            </setting>
            <setting name="HAEClientProcess" serializeAs="String">
                <value>quickstarts.historicaleventsclient.exe</value>
            </setting>
            <setting name="ACServerProcess" serializeAs="String">
                <value>quickstarts.alarmconditionserver.exe</value>
            </setting>
            <setting name="ACClientProcess" serializeAs="String">
                <value>quickstarts.alarmconditionclient.exe</value>
            </setting>
            <setting name="GenServerProcess" serializeAs="String">
                <value>OPC.ua.sampleserver.exe</value>
            </setting>
            <setting name="GenClientProcess" serializeAs="String">
                <value>OPC.ua.sampleclient.exe</value>
            </setting>
            <setting name="RefServerProcess" serializeAs="String">
                <value>quickstarts.referenceserver.exe</value>
            </setting>
            <setting name="RefClientProcess" serializeAs="String">
                <value>quickstarts.referenceclient.exe</value>
            </setting>
            <setting name="WelcomeHelp" serializeAs="String">
                <value>webhelp\index.htm#welcome.htm</value>
            </setting>
            <setting name="LDSProcess" serializeAs="String">
                <value>OPC.ua.discoveryserver.exe</value>
            </setting>
        </WelcomeApplication.Properties.Settings>
    </applicationSettings>
</configuration>
