<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="TestConsoleServer" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
	</configSections>

  <TestConsoleServer>
		<ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
			<FilePath>TestConsoleServer.Config.xml</FilePath>
		</ConfigurationLocation>
	</TestConsoleServer>
  
</configuration>
