<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="WebSocketsTestClient" type="Opc.Ua.ApplicationConfigurationSection,Opc.Ua.Core"/>
	</configSections>
	<system.serviceModel>
		<!--
      Uncommenting this <diagnostics> block will turn on message logging. The contents and the location of the
      log file are specified in the  <system.diagnostics> block.
    -->
		<!--
    <diagnostics>
      <messageLogging logEntireMessage="true" maxMessagesToLog="3000" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    -->
	</system.serviceModel>
	<!--
  <system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default"/>
					<add name="ServiceModel Listener"/>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default"/>
					<add name="ServiceModel Listener"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="Quickstarts.EmptyClient.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModel Listener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"/>
    </sharedListeners> 
  </system.diagnostics>
  -->
  <WebSocketsTestClient>
		<ConfigurationLocation xmlns="http://opcfoundation.org/UA/SDK/Configuration.xsd">
			<FilePath>WebSocketsTestClient.Config.xml</FilePath>
		</ConfigurationLocation>
	</WebSocketsTestClient>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
