<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    <section name="Opc.Ua.Client" type="Opc.Ua.ClientConfigurationSection,Opc.Ua.Core"/>
  </configSections>

  <system.serviceModel>
    <!-- 
      UA servers built with the SDK use the Opc.Ua.SessionEndpoint class to implement the ISessionEndpoint 
      contract. It is possible to add additional behavoirs in the configuration file by referencing this 
      service. For example, the configuration in this file turns on metadata publishing. 
    -->
    <services>
      <service name="Opc.Ua.SessionEndpoint" behaviorConfiguration="Opc.Ua.SessionEndpoint.Behavior">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <!-- Servers deployed in production environments should turn the httpGetEnabled and includeExceptionDetailInFaults options off -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="Opc.Ua.SessionEndpoint.Behavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!--
      Uncommenting this <diagnostics> block will turn on message logging. The contents and the location of the
      log file are specified in the  <system.diagnostics> block.
    -->
    <!--
    <diagnostics>
      <messageLogging logEntireMessage="true" maxMessagesToLog="3000" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    -->

  </system.serviceModel>

  <!--
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default"/>
          <add name="ServiceModel Listener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default"/>
          <add name="ServiceModel Listener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="Opc.Ua.SampleClient.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModel Listener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack"/>
    </sharedListeners>
  </system.diagnostics>
  -->

  <!-- 
    This block specifies the configuration for the client. It includes:
      - the instance name
      - the instance URI
      - the application instance certificate
      - the certificates that it will accept from servers.
  -->

  <Opc.Ua.Client>
    <ClientConfiguration xmlns="http://opcfoundation.org/UA/2008/02/Types.xsd">
      <InstanceCertificate>
        <StoreName>My</StoreName>
        <StoreLocation>LocalMachine</StoreLocation>
        <SubjectName>UADiagnosticClient</SubjectName>
      </InstanceCertificate>
      <TrustedCertificates>
        <CertificateIdentifier>
          <StoreName>Root</StoreName>
          <StoreLocation>LocalMachine</StoreLocation>
          <SubjectName>UASampleRoot</SubjectName>
        </CertificateIdentifier>
      </TrustedCertificates>
      <CertificateValidationMode>TrustChainOrConfiguration</CertificateValidationMode>
      <CertificateRevocationMode>NoCheck</CertificateRevocationMode>
      <IssuerCertificateStoreName>Root</IssuerCertificateStoreName>
      <IssuerCertificateStoreLocation>LocalMachine</IssuerCertificateStoreLocation>
      <MaxStringLength>65535</MaxStringLength>
      <MaxByteStringLength>1048560</MaxByteStringLength>
      <MaxArrayLength>65535</MaxArrayLength>
      <MaxMessageSize>1048560</MaxMessageSize>
      <MaxBufferSize>1048560</MaxBufferSize>
      <ConnectionLifetime>120000</ConnectionLifetime>
      <SecurityTokenLifetime>3600000</SecurityTokenLifetime>
      <OperationTimeout>120000</OperationTimeout>
      <SessionTimeout>1200000</SessionTimeout>
      <NonceLength>32</NonceLength>
      <HashAlgorithmId>SHA1</HashAlgorithmId>
      <RuntimeDirectory/>
      <AvailableBindings>
        <BindingTableEntry>
          <UriScheme>http</UriScheme>
          <TypeName>Opc.Ua.Bindings.UaSoapXmlBinding</TypeName>
        </BindingTableEntry>
        <BindingTableEntry>
          <UriScheme>opc.tcp</UriScheme>
          <TypeName>Opc.Ua.Bindings.UaTcpBinding</TypeName>
        </BindingTableEntry>
        <!--
          <BindingTableEntry>
            <UriScheme>opc.tcp</UriScheme>
            <TypeName>Opc.Ua.NativeStack.NativeStackBinding,Opc.Ua.NativeStack</TypeName>
          </BindingTableEntry>
        -->
        <BindingTableEntry>
          <UriScheme>net.tcp</UriScheme>
          <TypeName>Opc.Ua.Bindings.UaSoapXmlOverTcpBinding</TypeName>
        </BindingTableEntry>
      </AvailableBindings>
      <ConfiguredEndpointsFilePath>Opc.Ua.DiagnosticClient.cache.xml</ConfiguredEndpointsFilePath>
      <DiscoveryUrls/>
      <DiscoveryServers/>
    </ClientConfiguration>
  </Opc.Ua.Client>

</configuration>
